export PORT=13001
export LDSY_ES_BASE_URL="http://172.2.0.1:9200"
export LDSY_ES_API_KEY="dummykey"
export LDSY_LDAP_URL="ldap://example.com"
export LDSY_LDAP_BASEDN="dc=example,dc=com"
export LDSY_LDAP_GROUPSDN="dc=example,dc=com"
export LDSY_MAX_TRIES=3
export LDSY_MINUTES_LOCKOUT=15
